
.header{
   margin: 0 auto;
   margin-top: 37px;
   max-width: 936px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  
}

.header__logo{
   display: block;
   margin-left: 5px;
   margin-right:auto;
   font-size: 18px;
   color: aliceblue;
   text-decoration: none;
   text-transform: uppercase;
}

.header__logo_popup {
   margin-left: auto;
   margin-right:auto;
   font-size: 18px;
   color: rgb(27, 30, 32);
   text-decoration: none;
   text-transform: uppercase;
}